header{
    background-color: #a52a2a
}
main{

}
footer{
    background-color: #a52a2a;
}
#div1{
    background-color: rgb(22, 2, 2);
}
#div2{
    background-color: #a52a2a;
}
nav{
    background-color: #a52a2a;
    text-align: right;
}
#img{
    background-color: aliceblue;
}
#nav1 a{
    color: grey;
}
#nav2 a{
    color: black;
    font-size: 20px;
    margin-right: 2%;
    font-weight: bold;
}
nav a{
    text-decoration: none;
}
#sesion1{
    background-color:rgba(0, 0, 255, 0.226) ;
    padding-bottom: 20px;
}
#cajitaBlanca{
    margin-left: 5%;
    background-color: white;
    width: 60%;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
}
#divImg{
    width: 25%;
    display: inline;
    margin-left: 5%;
}
#buscador{
    background-color: white;
    width: 70%;
    margin: auto;
    margin-top: 5px;
    border-radius: 9px;
    height: 20px;
    
}
#iBuscador{
    height: 79%;
    width: 91%;
    border: none;
    border-radius: 10px;
}
#btnBuscar{
    height: 100%;
   /* width: 10%;*/
    color: white;
    background-color: green;
    border: none;
    border-radius: 20px;
    padding: 0px 20px;
}
.titulo1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}
.parrafo1{
    text-align: center;
}
.linea1{
    width: 4%;
    margin: auto;
    background-color: green;
    border: solid 1px green;
}
.tarjeta{
    background-color: #a52a2a;
    text-align: center;
    padding: 10px 4px;
    width: 24%;
    border-radius: 10px;
    display: inline-block;
    margin: 5px;
}
.tarjeta p{
    text-align: left;
}
.tarjeta button{
    color: white;
    background-color: green;
    border: none;
    border-radius: 20px;
    padding: 0px 10px;
}
.tarjeta img{
    height: 200px;
    border-radius: 20px;
}
.contenedorTarjeta{
    display: inline;
}
.contenedor{
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px
}